body {
  font-family: 'Comic Neue', cursive;
}

.loader {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {

  100% {
    opacity: 0;
    visibility: hidden;
  }
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: #C9F1FF72;
}

.bubble {
  position: relative;
  width: 420px;
  font-size: 33px;
  line-height: 43px;
  border-radius: 33px;
  padding: 24px;
  text-align: center;
  border: 2px solid #FB98FE;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 38px 16px 0;
    border-color: #FB98FE transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -38px;
    left: 70%;
}

.cat {
  margin-top: 16px;
}

.hola {
  min-width: 353px;
}