body {
  font-family: 'Comic Neue', cursive;
}

.loader {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
  
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #C9F1FF72;
}

.bubble {
  position: relative;
  width: 420px;
  font-size: 30px;
  line-height: 40px;
  border-radius: 33px;
  padding: 24px;
  text-align: center;
  border: 2px solid #FB98FE;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 38px 16px 0;
    border-color: #FB98FE transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -38px;
    left: 70%;
}

.cat {
  margin-top: 16px;
}

.hola {
  min-width: 353px;
}

.buttons {
  margin: 33px 0;
}

.primary, .secondary {
  text-align: center;
  cursor: pointer;
  font-size:24px;
  padding: 10px 30px;  
  outline: none;
  border: none;
  border-radius:13px;
  box-shadow: 0 9px #95a5a6;
}

.primary {
  background-color: #0177e7;
}

.secondary{
  background-color: #118bfe;
}

.primary:active {
  background-color: #2ecc71;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}

.primary:hover {
  background-color: #0177e7;
}


.secondary:hover{
  background-color: #118bfe;
}

.secondary:active {
  background-color: #2ecc71;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}

.frame {
  padding: 30px;
  background-color: #118BFE;
  margin-bottom: 33px;
  border: 2px solid #FB98FE;
  border-radius: 33px;
}