body {
  font-family: 'Comic Neue', cursive;
}

.loader {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
  
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #C9F1FF72;
}

.video-container {
  background-image: url("../images/backvid1.gif");
  background-color: #C9F1FF72;
  /* position: relative; */
}

.bubble {
  position: relative;
  width: 420px;
  font-size: 30px;
  line-height: 40px;
  border-radius: 33px;
  padding: 20px;
  text-align: center;
  border: 2px solid #F39CFC;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 38px 16px 0;
    border-color: #F39CFC transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -38px;
    left: 70%;
}

footer {
  color: #118BFE !important;
  text-decoration: none;
}

footer > a:visited, .fab {
  text-decoration: none;
  color: #118BFE;
}

footer > a:hover, footer > i:hover, .fab:hover {
  text-decoration: none;
  color: #F39CFC;
}

.cat {
  margin-top: 16px;
  min-width: 313px;
}

.buttons {
  margin: 30px 0;
  display: flex;
  justify-items: end;
}

.primary, .secondary {
  text-align: center;
  cursor: pointer;
  font-size:20px;
  padding: 10px 20px;  
  outline: none;
  border: none;
  border-radius:13px;
  box-shadow: 0 9px #8EAEFC;
  color: #fff;
  text-decoration: none;
}

.primary {
  background-color: #F39CFC;
  margin-left: 20px;
}

.secondary{
  background-color: #02B9FF;
  margin-right: 20px;
}

.primary:active {
  background-color: #FAD1FF;
  box-shadow: 0 5px #8EAEFC;
  transform: translateY(4px);
  color: #34c7ff;
}

.primary:hover {
  background-color: #FAD1FF;
}


.secondary:hover{
  background-color: #34c7ff;
}

.secondary:active {
  background-color: #34c7ff;
  box-shadow: 0 5px #8EAEFC;
  transform: translateY(4px);
  color: #F39CFC;
}

.frame-container {
  position: relative;
  z-index: 1;
  margin-top: 100px;
}

.frame {
  position: relative;
  padding: 30px;
  background-color: #118BFE;
  margin-bottom: 33px;
  border: 5px solid #F39CFC;
  border-radius: 33px;
}

.frame:after {
  content: url("../images/gati-like.gif");
  position: absolute;
  z-index: -1;
  bottom: 50%;
  left: 70%;
}

iframe {
  -webkit-box-shadow: 5px 5px 30px 1px rgba(0,0,0,0.43); 
  box-shadow: 5px 5px 30px 1px rgba(0,0,0,0.43); 
}

@media screen and (max-device-width: 480px) {
  iframe {
    width: 100%;
}
  .bubble {
  position: relative;
  width: 80%;
}
  .container {
    width: 100vw;
  }
}